@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%; /* Negro puro */
    --foreground: 218 71% 96%;
    --card: 0 0% 7%; /* Negro muy claro para tarjetas */
    --card-foreground: 218 71% 96%;
    --popover: 0 0% 7%;
    --popover-foreground: 218 71% 96%;
    --primary: 213 74% 52%; /* Azul */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 12%; /* Gris oscuro para separación */
    --secondary-foreground: 213 74% 52%;
    --muted: 0 0% 10%;
    --muted-foreground: 220 10% 60%;
    --accent: 43 74% 49%; /* Oro */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 43 74% 49%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 218 71% 96%;
    --card: 0 0% 7%;
    --card-foreground: 218 71% 96%;
    --popover: 0 0% 7%;
    --popover-foreground: 218 71% 96%;
    --primary: 213 74% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 12%;
    --secondary-foreground: 213 74% 52%;
    --muted: 0 0% 10%;
    --muted-foreground: 220 10% 60%;
    --accent: 43 74% 49%;
    --accent-foreground: 0 0% 100%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 43 74% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground scroll-smooth font-body;
  }
}