@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%; /* Negro puro */
    --foreground: 218 71% 96%;
    --card: 0 0% 7%; /* Negro muy claro para tarjetas */
    --card-foreground: 218 71% 96%;
    --popover: 0 0% 7%;
    --popover-foreground: 218 71% 96%;
    --primary: 213 74% 52%; /* Azul */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 12%; /* Gris oscuro para separación */
    --secondary-foreground: 213 74% 52%;
    --muted: 0 0% 10%;
    --muted-foreground: 220 10% 60%;
    --accent: 25 100% 50%; /* Naranja Vial Vibrante */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 25 100% 50%;
    --radius: 0.75rem;
    --gold: 47 95% 43%;
    --gold-foreground: 0 0% 100%;
    --purple: 271 100% 67%; /* Violeta F1 Fastest Lap */
    --purple-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground scroll-smooth font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-title tracking-tight;
  }
}
